<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>All posts</title>
        <link rel="stylesheet" href="../assets/css/default.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js" integrity="sha384-jmxIlussZWB7qCuB+PgKG1uLjjxbVVIayPJwi6cG6Zb4YKq0JIw+OMnkkEC7kYCq" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/contrib/auto-render.min.js" integrity="sha384-IiI65aU9ZYub2MY9zhtKd1H2ps7xxf+eb2YFG9lX6uRqpXCvBTOidPRCXCrQ++Uc" crossorigin="anonymous"></script>
        <script> document.addEventListener("DOMContentLoaded", function() { renderMathInElement(document.body); }); </script>
    </head>
    <body>
        <header>
            <span class="logo">
                <a href="blog.html">Yuchen's Blog</a>
            </span>
            <nav>
                <a>All posts</a><a href="index.html">About</a><a href="blog-feed.xml">Feed</a>
            </nav>
        </header>

        <div class="main">
            <div class="bodyitem">
                <ul class="postlist">
                    $body$
                </ul>
            </div>
        </div>
    </body>
</html>
